<!DOCTYPE html>
<html>

<head>
    <script src="/assets/htmx.min.js"></script>
    <script src="/assets/loading-states.js"></script>
    <script src="/assets/ws.js"></script>
    <script src="/assets/response-targets.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono" />
    <link rel="stylesheet" href="assets/output.css" />
    <title>Home API</title>
    {% block head %}
    {% endblock %}
</head>

<body class="flex flex-col min-h-[100vh]" hx-ext="loading-states,ws,response-targets">
    {% include "components/navbar.html" %}
    <div class="drawer">
        <input id="menu-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex">
            <div class="mx-auto h-full justify-center py-6">
                <div id="page-content" class="mx-auto h-full p-2">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="drawer-side">
            <label for="menu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            {% include "components/menu.html" %}
        </div>
    </div>
</body>

</html>