<a href="/data" class="btn glass mb-6">↩ Back to data management</a>

<h2 class="page-title">Collection policies</h2>
<p class="pb-6">Here you can manage the data collection policies.</p>
<div class="flex flex-col gap-4 items-center">
    <button id="new-policy-btn" class="btn btn-primary self-end" onclick="toggleNewPolicy();">New policy</button>
    <div id="new-policy"
        class="card card-compact w-80 shadow-lg rounded-xl border-2 bg-base-300 border-base-content text-base-content hidden">
        <div class="card-body">
            <div class="card-title flex-col">
                <form id="new-policy-form" class="flex gap-4 p-4" hx-put="/data/schedule" hx-target="#page-content">
                    {% let features = SensorFeatures::TEMPERATURE | SensorFeatures::MOTION %}
                    {% include "components/sensor-features-input.html" %}
                    <label class="input input-sm input-bordered flex items-center gap-2">
                        Interval
                        <input id="interval-input" type="time" class="grow" name="interval" value="00:05:00" />
                    </label>
                </form>
            </div>
            <div class="card-actions justify-end">
                <button class="btn btn-sm btn-primary" form="new-policy-form">Create</button>
                <button class="btn btn-sm btn-error" onclick="toggleNewPolicy();">Cancel</button>
            </div>
        </div>
    </div>

    {% for policy in schedule %}
    {% let features = policy.features %}
    <div class="card card-compact w-80 shadow-lg rounded-xl border-2 bg-base-300 border-base-content text-base-content">
        <div class="card-body">
            <div class="card-title">
                {% include "components/sensor-features.html" %}
                <p>Poll interval: {{crate::website::data::schedule::interval(policy)}}</p>
            </div>
            <div class="card-actions justify-end">
                <button class="btn btn-sm btn-error"
                    hx-delete="/data/schedule?{{crate::website::data::schedule::delete_query(policy)}}"
                    hx-target="#page-content">Delete</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function toggleNewPolicy() {
        document.getElementById('new-policy').classList.toggle('hidden');
        document.getElementById('new-policy-btn').classList.toggle('hidden');
    }
</script>