<a href="/data" class="btn glass mb-6">↩ Back to data management</a>

<h2 class="page-title">Browse data</h2>
<p class="pb-6">Here you can browse the data stored in the system.</p>

<div id="browse-buttons" class="flex flex-row gap-2">
    <button class="btn btn-primary" hx-get="/data/browse?feature=temp" hx-push-url="true"
        hx-target="#browse-content">Browse temperature data</button>
    <button class="btn btn-primary btn-disabled" hx-get="/data/browse?feature=motion" hx-push-url="true"
        hx-target="#browse-content">Browse motion</button>
</div>

<div id="browse-content" class="flex flex-col gap-2 py-2 items-center"></div>

<script>
    document.addEventListener('DOMContentLoaded', fetchIfNeeded);
    function fetchIfNeeded() {
        var btns = document.getElementById('browse-buttons');
        for (var i = 0; i < btns.children.length; i++) {
            var element = btns.children[i];
            if (element.tagName !== 'BUTTON') {
                continue;
            }
            var hxGet = element.getAttribute('hx-get');
            if ((window.location.pathname + window.location.search).startsWith(hxGet)) {
                element.click();
            }
        }
        document.removeEventListener('DOMContentLoaded', fetchIfNeeded);
    }
</script>