<a hx-get="/data" hx-target="#page-content" hx-push-url="true" class="btn glass mb-6">↩ Back to data management</a>

<h2 class="page-title">Browse data</h2>
<p class="pb-6">Here you can browse the data stored in the system.</p>

<div id="browse-buttons" class="flex flex-row gap-2 flex-wrap">
    <button class="btn btn-primary" hx-get="/data/browse?feature=temp" hx-push-url="true"
        hx-target="#browse-content">Browse temperature data</button>
    <button class="btn btn-primary btn-disabled" hx-get="/data/browse?feature=motion" hx-push-url="true"
        hx-target="#browse-content">Browse motion</button>
</div>

<div id="browse-content" class="flex flex-col gap-2 py-2 items-center">
    {% if let Some(feature) = feature %}
    {{feature|safe}}
    {% endif %}
</div>