<h1 id="sensor-edit-title" class="text-2xl font-semibold pb-6">Editing sensor hosted at: {{sensor.host}}.</h1>
<form class="flex flex-col gap-4 p-4">
    <label class="input input-bordered flex items-center gap-2">
        Name
        <input id="name-input" type="text" class="grow" name="name" value="{{sensor.name}}" />
    </label>
    <label class="input input-bordered flex items-center gap-2">
        Location
        <input id="location-input" type="text" class="grow" name="location" value="{{sensor.location}}" />
    </label>
    <label class="input input-bordered flex items-center gap-2">
        Features
        <input type="checkbox" class="hidden" />
        <div class="flex flex-row">
            <label for="features-input">🌡️</label>
            <input id="features-input" type="checkbox" class="checkbox checkbox-sm checkbox-primary"
            name="features-temp"
            {% if sensor.features.contains(SensorFeatures::TEMPERATURE) %}
            checked
            {% endif %}/>
        </div>
        <div class="flex flex-row">
            <label for="features-input">🌪️</label>
            <input id="features-input" type="checkbox" class="checkbox checkbox-sm checkbox-primary"
                name="features-motion"
            {% if sensor.features.contains(SensorFeatures::MOTION) %}
            checked
            {% endif %}/>
        </div>
    </label>
    <label class="input input-bordered flex items-center gap-2">
        Host
        <input id="host-input" type="text" class="grow" value="{{sensor.host}}" disabled />
    </label>
    <label class="input input-bordered flex items-center gap-2">
        Pair ID
        <input id="host-pair-id" type="text" class="grow"
            value="{{sensor.pair_id.as_ref().cloned().unwrap_or_default()}}" disabled />
    </label>
    <button id="sensor-edit-submit" class="btn btn-primary" hx-post="/sensors/{{sensor.host}}"
        hx-target="#alert-element" hx-swap="outerHTML" data-loading-class="btn-disabled">Save</button>
    <a class="btn" onclick="history.back();">Back</a>
</form>