{% if let Some(alert_message) = alert_message %}
{% let alert_type = alert_type.clone().unwrap_or_default() %}
<div id="alert-element" class="animate-fade-down w-full break-all pb-4 relative" {% if swap_oob %} hx-swap-oob="true" {% endif %}>
    <div id="alert-inner" role="alert"
        class="alert {{alert_type}} animate-fade-down animate-reverse animate-delay-[15000ms]">
        <a class="btn btn-sm lg:btn-xs btn-square glass absolute top-1 right-1" onclick="hideAlert();">X</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <span>{{ alert_message }}</span>
    </div>
    <script>
        var inner = document.getElementById('alert-inner');
        inner.addEventListener('animationend', setHandler);
        function setHandler() {
            inner.removeEventListener('animationend', setHandler);
            inner.addEventListener('animationend', hideAlert);
        }
        function hideAlert(_event) {
            inner.parentElement.className = 'hidden';
        }
    </script>
</div>
{% else %}
<div id="alert-element" class="hidden"></div>
{% endif %}