<ul class="menu p-4 lg:w-80 w-60 min-h-full bg-base-200 gap-2"
        hx-on::before-request="document.getElementById('menu-drawer').click()">
        <h2 class="page-title">Menu</h2>
        {% match current_user %}
        {% when Some with (curr) %}
        <li>
                <a hx-get="/" hx-push-url="true" hx-target="#page-content" hx-swap="innerHtml">Overview</a>
                <ul>
                        <!-- List of paired sensors with minimal data, with all areas and options to assign -->
                        <li><a hx-get="/sensors" hx-push-url="true" hx-target="#page-content">Sensors</a></li>
                        <!-- List of created user areas with some data -->
                        <li><a hx-get="/areas" hx-push-url="true" hx-target="#page-content">Areas</a></li>
                        <!-- Links added by user from Layout management -->
                        <!-- <li><a>Custom</a> -->
                </ul>
        </li>
        <li>
                <h2 class="menu-title">Management</h2>
                <ul>
                        <!-- Different list of sensors with edit and features -->
                        <li><a>Sensor management</a></li>
                        <li>
                                <a hx-get="/scanner" hx-push-url="true" hx-target="#page-content">Sensor scanner</a>
                        </li>
                        <!-- Allows users to position areas and sensors within -->
                        <li><a>Layout management</a></li>
                        <li><a hx-get="/data" hx-push-url="true" hx-target="#page-content">Data management</a></li>
                </ul>
        </li>
        <li><a class="bg-warning text-warning-content" hx-post="/logout" hx-push-url="true">Logout</a></li>
        {% when None %}
        <li><a class="bg-primary text-primary-content" hx-get="/login" hx-push-url="true" hx-target="closest body"
                        hx-swap="innerHtml">Login</a>
        </li>
        {% endmatch %}
</ul>