{% let host = sensor.host.replace(".", "-") %}
<tr id="sensor-rows-{{host}}" class="border-b-0">
    <td> {{ sensor.name }} </td>
    <td> {{ sensor.location }} </td>
    <td> {{ sensor.features }} </td>
    <td> {{ sensor.host }} </td>
    {% if let Some(pair_id) = sensor.pair_id %}
    <td> {{ pair_id }} </td>
    {% else %}
    <td> None </td>
    {% endif %}
    <td>
        {% if let SensorActions::Home = action_type %}
        {% include "components/home-sensor-actions.html" %}
        {% else if let SensorActions::Scanner = action_type %}
        {% include "components/scanner-sensor-actions.html" %}
        {% endif %}
    </td>
</tr>
<tr class="border-b border-base-300">
    <td id="sensor-rows-error-{{host}}" colspan="6" class="text-error py-0 text-center"></td>
</tr>