<table id="temp-browse-table" class="table table-xs lg:table-md">
    <thead>
        <tr>
            <th>Host</th>
            <th>Datetime</th>
            <th>Temp (°C)</th>
            <th>Hum (%)</th>
        </tr>
    </thead>
    {% if items.is_empty() %}
    <tr>
        <td colspan="4">No data available</td>
    </tr>
    {% endif %}
    {% for item in items %}
    <tr>
        <td>{{ item.host }}</td>
        <td timestamp>{{ item.timestamp }}</td>
        <td>{{ item.temperature }}</td>
        <td>{{ item.humidity }}</td>
    </tr>
    {% endfor %}
</table>

<div class="join">
    <button {% if page==1 %} class="join-item btn btn-disabled" {% else %} class="join-item btn" {% endif %}
        hx-get="/data/browse?feature=temp&page={{page - 1}}" hx-target="#browse-content">«</button>
    <div class="join-item bg-base-200 content-center p-2 select-none">Page {{page}}</div>
    <button {% if last_page %} class="join-item btn btn-disabled" {% else %} class="join-item btn" {% endif %}
        hx-get="/data/browse?feature=temp&page={{page + 1}}" hx-target="#browse-content">»</button>
</div>